@font-face {
  font-family: "Luscious Script";
  src: url("./Luscious-Script.otf");
}

@font-face {
  font-family: "Aoharu Marker";
  src: url("./aoharu-marker-mini.otf");
}

@font-face {
  font-family: "Hannari Mincho";
  src: url("./HannariMincho-Regular.otf");
}

@font-face {
  font-family: "Kallem";
  src: url("./Kallem.otf");
}
